<div class="dashboard-sidebar">
  <div class="row">
    <a href="/" class="title">
      <h1>Game Changer</h1>
    </a>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <ul class="nav nav-pills flex-column mb-auto">
      <div class="row">
        <li class="nav-item">
          <a
            href="/search"
            class="nav-link text-white {{search}}"
            aria-current="page"
          >
            <i class="bi bi-search"></i>
            Search Events
          </a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="/profile" class="nav-link text-white {{profile}}">
            <i class="bi bi-person-circle"></i>
            Profile
          </a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="/events" class="nav-link text-white {{events}}">
            <i class="bi bi-calendar-event"></i>
            Select Events
          </a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="/control" class="nav-link text-white {{control}}">
            <i class="bi bi-gear-fill"></i>
            Control Events
          </a>
        </li>
      </div>
      <div class="row">
        <li>
          <a href="/analytics" class="nav-link text-white {{analytics}}">
            <i class="bi bi-pie-chart"></i>
            Analyze information
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>